<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.pcsell.vo.Product" alias="Product" />
		<typeAlias type="com.pcsell.vo.Photo" alias="Photo" />
		<typeAlias type="com.pcsell.vo.Board" alias="Board" />
		<typeAlias type="com.pcsell.vo.Cart" alias="Cart" />  
		<typeAlias type="com.pcsell.vo.Member" alias="Member" />  
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@211.197.18.246:1551:xe" />
				<property name="username" value="PC" />
				<property name="password" value="PC" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- SQL + Object Mapping Configuration -->
	<mappers>
		<mapper resource="com/pcsell/mapper/product-mapper.xml" />
		<mapper resource="com/pcsell/mapper/board-mapper.xml" />
		<mapper resource="com/pcsell/mapper/cart-mapper.xml" />
	</mappers>
</configuration>