<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcsell.mapper.ProductMapper">


	<insert id="insertProduct"
			parameterType="Product"
			useGeneratedKeys="true"
			keyColumn="pcCode"
			keyProperty="pcCode">
		INSERT INTO PRODUCT (
			PCCODE
			, NAME
			, DIVISION
			, COMPANYNAME
			, GENERATION
			, CORE
			, THREAD
			, CAPACITY
			, CLOCK
			, CHIPSET
			, SOCKET
			, INTERFACE
			, BUFFER
			, TYPE
			, OUTPUT
			, PRICE
			, COUNT
			, CATEGORY
		)
		VALUES (
			SYS_GUID()
			, #{ name }
			, #{ division }
			, #{ companyName }
			, #{ generation }
			, #{ core }
			, #{ thread }
			, #{ capacity }
			, #{ clock }
			, #{ chipSet }
			, #{ socket }
			, #{ Interface }
			, #{ buffer }
			, #{ type }
			, #{ outPut }
			, #{ price }
			, #{ count }
			, #{ category }
		)
	</insert>

	<insert id="insertProductImage" parameterType="Photo">
		INSERT INTO PHOTO (
			PCCODE
			, USERFILENAME
			, SAVEDFILENAME
		)
		VALUES (
			#{ pcCode }
			, #{ userFileName }
			, #{ savedFileName }
		)
	</insert>

</mapper>