<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcsell.mapper.CartMapper">
<!-- 패키지 이름 = com.springdemoweb.mapper / 클래스 이름 = MemberMapper / 메소드 이름은  selectMemberByIdAndPasswd 라고 보면 된다.-->

	<select id="findCheckList" parameterType="HashMap" resultType="cart">
		SELECT name, price, count, discount
		FROM cart
		WHERE id = #{id} and cartDate = #{cartDate} <!-- 유저와 날짜가 같은 것의 카트 내용을 가져옴. -->
	</select>
	
	<insert id="addcart" parameterType="HashMap"> <!-- 카트에 담는 용도 -->
		INSERT INTO cart(id, name, price, count, cartDate)
			SELECT id, name, price, count
			FROM product
			WHERE name = #{name} 
	</insert>
	
	<select id="cartlist" resultType="cart"> <!--카트 확인 용도  -->
		SELECT *
		FROM cart
		WHERE cartDate = #{cartDate} and id = #{id} <!-- 카트 담은 날짜와 id가 일치하는 것을 불러옴 -->
	</select>
	
	
</mapper>