<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcsell.mapper.CartMapper">
<!-- 패키지 이름 = com.springdemoweb.mapper / 클래스 이름 = MemberMapper / 메소드 이름은  selectMemberByIdAndPasswd 라고 보면 된다.-->


	<select id="findCheckList" parameterType="String" resultType="Cart">
		SELECT pcCode, name, price
		FROM cart 
		  <!-- 유저와 날짜가 같은 것의 카트 내용을 가져옴. WHERE id = #{id}-->
	</select>
	

	<select id="findCheckList2" parameterType="hashmap" resultType="Cart">
		SELECT pcCode, name, price, cartDate
		FROM cart 
		WHERE cartDate >= to_date(#{date}) and cartDate <![CDATA[<]]> to_date(#{date}) +1 
		  <!-- 유저와(로그인 기능 완성 되면 추가) 날짜가 같은 것의 카트 내용을 가져옴. and cartDate = #{cartDate}-->
	</select>
	
	<insert id="addcart" parameterType="String"> <!-- 카트에 담는 용도 -->
		INSERT INTO cart(pcCode, name, price, cartDate) 
			SELECT pcCode, name, price, sysdate 
			FROM product
			WHERE name = #{name} 
	</insert>
	
	
	<insert id="ramCartAdd" parameterType="String"> <!-- 카트에 담는 용도 -->
		INSERT INTO cart(pcCode, name, price, cartDate)
			SELECT pcCode, name, price, sysdate
			FROM product
			WHERE pcCode = #{pcCode}
	</insert>
	
	<select id="ramCartList" parameterType="Date" resultType="Cart">
		SELECT pcCode, name, price, cartDate
		FROM cart
		WHERE cartDate >= to_date(#{date}) and cartDate <![CDATA[<]]> to_date(#{date}) +1 
		<!-- 유저와 날짜가 같은 것의 카트 내용을 가져옴.-->
	</select>
	
	<select id="checkOut" parameterType= "hashmap" resultType="Cart">
		SELECT pcCode, name, price
		FROM cart
		WHERE cartDate >= to_date(#{date}) and cartDate <![CDATA[<]]> to_date(#{date}) +1 
		<!-- 로그인 만들어지면 id 연결해야 한다. -->
	</select>

	<delete id="cartDelete" parameterType="hashmap">
		DELETE from cart
		WHERE cartDate >= to_date(#{date}) and cartDate <![CDATA[<]]> to_date(#{date}) +1 
		<!-- and id = #{id} )  // -->
		  <!-- 유저와(로그인 기능 완성 되면 추가) 날짜가 같은 것의 카트 내용을 가져옴. and cartDate = #{cartDate}-->
	</delete>
	
	<select id="cartSum" parameterType="hashmap" resultType="Cart">
		SELECT sum(price) as sum
		FROM cart 
		WHERE cartDate >= to_date(#{date}) and cartDate <![CDATA[<]]> to_date(#{date}) +1
		  <!-- 유저와(로그인 기능 완성 되면 추가) 날짜가 같은 것의 카트 내용을 가져옴. and cartDate = #{cartDate}-->
	</select>
	
	<!-- 
	<select id="cartlist" resultType="cart"> 카트 확인 용도 
		SELECT *
		FROM cart
		WHERE cartDate = #{cartDate} and id = #{id} 카트 담은 날짜와 id가 일치하는 것을 불러옴
	</select>
	
	 -->
</mapper>

