<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcsell.mapper.MemberMapper">

	<insert id="insertMember" parameterType="Member">
		INSERT INTO member (ID, PASSWD, EMAIL, HP, USERTYPE) 
		VALUES (#{ id }, #{ passwd }, #{ email }, #{ hp }, #{ userType })
	</insert>
	
	<select id="selectMemberByIdAndPasswd"
		parameterType="hashmap" resultType="Member">
		SELECT id, passwd, email, hp, userType
		FROM Member
		WHERE ID = #{ id } AND PASSWD = #{ passwd }
	</select>
	
	<!--  host등록   -->    	
<!-- 	<insert id="insertHost" parameterType="Host">
		INSERT INTO member (ID, PASSWD, EMAIL, HP, USERTYPE) 
		VALUES (#{ id }, #{ passwd }, #{ email }, #{ hp }, #{ userType })
	</insert> -->
	

</mapper>